* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --ff-primary: 'Roboto', sans-serif;
    --text-color: #E1E1E6;
    --text-error: #F75A68;
}

body {
    background-color: #000;

}

body * {
    font-family: var(--ff-primary);
    color: var(--text-color);
    
}

#sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

#app {
    max-width: 112rem;
    margin: 0 auto;
    padding: 11.5rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20.8rem;
    margin-bottom: 7.2rem;

}


.search {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 0.8rem;
}
.search input {
    width: 100%;
    padding: 1.6rem;

        background-color: #06181C;
        border-radius: 5px;
        border: none;
    }

.search button {
    border-radius: 5px;
    border: none;

    display: flex;
    align-items: center;
    gap: .8rem;
    
    padding: 1.2rem 3.2rem;
    background: #065E7C;
    color: var(--text-color);
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.search button:hover {
    background: #043f53;

}

.container-table {
    width: 100%;
    border: .1rem solid #44beda;
    border-radius: 1.2rem;

}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);

}

table * {
    font-size: 1.4rem;
    
}

table th {
    background-color: #092D38;
    text-align: left;
    padding: 1.6rem 2.4rem 1.6rem 4rem;
    
}


table th:first-child {
    border-top-left-radius: 1.2rem;
}

table th:last-child {
    border-top-right-radius: 1.2rem;
}

table tr:nth-child(even) {
    background: #06161B80;
}

table tr:nth-child(odd) {
    background:#06181C;
}

table td {
    padding: 1.6rem 2.4rem 1.6rem 4rem;
    text-align: left;
}

.no-fav {
    border-radius: 0 0 1.2rem 1.2rem;
    height: 60vh;
    background-color: #030B0D;
    padding: 0 15rem;
    position: relative;
  }
  
  .no-fav img {
    margin-right: 6rem;
  }
  
  .no-fav span {
    margin-top: 6rem;
    position: absolute;
    font-size: 4rem;
    font-weight: 700;

    font-family: var(--ff-primary);
    line-height: 2.4rem;
    color: #4E5455;
  }

td.user {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

td.user img {
    width: 5.6rem;
    height: 5.6rem;

    object-fit: cover;
    border-radius: 50%;
}

td.user a {
    text-decoration: none;
}

td.user a p {
    font-weight: bold;
}

td .remove {
    color: var(--text-error);
    border: none;
    cursor: pointer;
    font-weight: 700;
    background: none;
}

td .remove:hover {
    color: #e72e3d;
}